body {
    text-align: left;
    margin: 0;
    background: linear-gradient(#03fccf 0%, #00ff9d 100%);
}

.profile {
    height: 250;
    border-radius: 100%;
}

#welcome {
    text-align: center;
    position: absolute;
    height: 76.%;
    top: 150px;
    width: 100%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 9;
}

.text {
    font-family: 'Redressed', cursive;
    font-size: 50px;
    color: royalblue;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3xpx;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 700px;
    z-index: 10;
    cursor: pointer;
}

.links {
    font-size: 35px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    float: left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.links:hover {
    background-color: orange;
}

a {
    text-decoration: none;
    color: white;
    
}

#img:hover {
    background-color: #03fccf;
}
img{
    border-radius: 170px;
}
button{
    border-style: none;
    background: linear-gradient(#FFA500 10%, #00FF00 25%, #000000 100%);
    border-radius: 10px;
}
.books{
    text-decoration: underline;
}
iframe{
    border-style: none;
    background-color: white;
    height: 11in;
    width: 8.5in;
}
.ni{
    background-color: white;
    border-radius: 5px;
}
.work{
    font-size: 50px
}
